/*in the Name of Allah*/
html,
body {
  margin: 0;
  padding: 0;
  --banner-flag: 100px;
  --max-height: 100vh;
  --max-width: 100vw;
}
/*auto indent clt+shit+i*/
/*this is the root holder*/
#view_layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#central_content {
  min-height: 150px;
  visibility: inherit;
  display: inherit;
  flex-grow: 1;
  justify-content: center;
  background-color: rgb(219, 219, 223);
}

#top_banner {
  min-height: 0px;
  max-height: 0px;
  visibility: visible;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 231);
  /* animation: banner_anim 9s infinite; */
}

#bottom_banner {
  min-height: 0px;
  max-height: 0px;
  visibility: visible;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 231);
  animation: banner_anim 12s infinite;
}

@keyframes banner_anim {
  10% {
    max-height: var(--banner-flag);
    visibility: inherit;
  }

  100% {
    max-height: 0px;
    visibility: collapse;
  }
}

#middle_panel {
  min-width: 0px;
  visibility: inherit;
  display: inherit;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  background-color: rgb(7, 23, 161);
}

#left_drawer,
#right_drawer {
  position: relative;
  min-width: 130px;
  max-width: 130px;
  max-height: var(--max-height);
  visibility: inherit;
  display: inherit;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(5, 5, 15);
  transition: 1.5s;
  overflow: hidden;
}

#left_drawer {
  justify-self: flex-start;
}

#right_drawer {
  justify-self: flex-end;
}

#left_drawer span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, rgb(209, 255, 4), rgb(8, 65, 255));
  animation: xtrans 4s linear infinite;
}

#left_drawer span:nth-child(2) {
  position: absolute;
  align-self: flex-end;
  width: 5px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(5, 197, 255, 0.884),
    rgb(241, 13, 173)
  );
  animation: ytrans 4s linear infinite;
  animation-delay: 2s;
}

#left_drawer span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, rgb(150, 13, 241), rgb(223, 67, 6));
  animation: reverse_xtrans 4s linear infinite;
}

#left_drawer_content,
#right_drawer_content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 100%;
  display: inherit;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  background: transparent;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
}

#price_range_cat {
  min-width: 100%;
  display: inherit;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.input {
  min-width: 25%;
  min-height: 40px;
  max-width: 40%;
  color: white;
  margin: 5px;
  display: inherit;
  outline: none;
  padding-left: 15px;
  border: 1px solid rgba(185, 181, 181, 0.719);
  border-radius: 5px;
  transition: 0.75s;
  background: transparent;
}

.input:focus {
  min-width: 60%;
  border: 1px solid white;
  box-shadow: 0 0 7px white;
}

.number {
  min-width: 25%;
}
.number:focus {
  min-width: 60%;
}

.number:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid rgb(247, 12, 12);
  border-radius: 5px;
  color: rgb(247, 12, 12);
}

.number:not(:focus):valid {
  border: 1px solid rgb(28, 241, 8);
  border-radius: 5px;
  color: rgb(28, 241, 8);
}

.number:focus:invalid {
  box-shadow: 0 0 7px rgb(247, 12, 12);
  border: 1px solid rgb(247, 12, 12);
  border-radius: 5px;
  color: rgb(247, 12, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number:focus:valid {
  box-shadow: 0 0 7px rgb(28, 241, 8);
  border: 1px solid rgb(28, 241, 8);
  border-radius: 5px;
  color: rgb(28, 241, 8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left_drawer_section {
  margin-top: 10px;
  max-height: 220px;
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
}

.right_drawer_section {
  margin-top: 10px;
  max-height: 300px;
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
}

#price_range_section {
  background: transparent;
}

#left_filter_form {
  width: 100%;
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
  background: transparent;
}

#left_filter_form div:nth-child(n) {
  max-height: 150px;
  width: 100%;
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
  background: transparent;
}

#right_filter_form {
  width: 100%;
  display: inherit;
  flex-grow: 1;
  flex-direction: column;
  background: transparent;
}

.mochila_btn {
  margin: 10px;
  min-height: 35px;
  background: whitesmoke;
  color: green;
  font-size: small;
}

.mochila_btn:hover {
  background: green;
  color: whitesmoke;
  font-size: medium;
}

#customer_cat_label,
#season_cat_label,
#discount_cat_label,
#price_cat_label,
#cloth_cat_label,
#color_cat_label {
  margin: 10px;
  display: inherit;
  flex-grow: 1;
  border: none;
}

#customer_cat,
#season_cat,
#discount_cat,
#cloth_cat,
#color_cat {
  margin-left: 15px;
  margin-right: 15px;
  display: inherit;
  flex-grow: 4;
  border: none;
  font-size: medium;
  font-weight: bolder;
}

@keyframes xtrans {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes reverse_xtrans {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ytrans {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes reverse_ytrans {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#right_drawer span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, rgb(209, 255, 4), rgb(8, 65, 255));
  animation: xtrans 4s linear infinite;
}

#right_drawer span:nth-child(2) {
  position: absolute;
  align-self: flex-start;
  width: 5px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(5, 197, 255, 0.884),
    rgb(241, 13, 173)
  );
  animation: reverse_ytrans 4s linear infinite;
  animation-delay: 2s;
}

#right_drawer span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, rgb(150, 13, 241), rgb(223, 67, 6));
  animation: reverse_xtrans 4s linear infinite;
}

#right_drawer_content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 100%;
  height: 100%;
  display: inherit;
  flex-grow: 1;
  align-self: center;
  background: transparent;
  color: rgb(255, 255, 253);
}

#menu_id {
  margin: auto;
  min-height: 64px;
  min-width: 96px;
  max-height: 64px;
  max-width: 96px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  visibility: hidden;
}

#menu_id:not(:checked) ~ #left_drawer {
  min-width: 0px;
  max-width: 0px;
}

#menu_id:not(:checked) ~ #right_drawer {
  min-width: 0px;
  max-width: 0px;
}

#menu_id:checked ~ #middle_panel nav ul {
  display: none;
}

#menu_label_id {
  margin: auto;
  min-height: 64px;
  min-width: 96px;
  max-height: 64px;
  max-width: 96px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  background: #010611;
  cursor: pointer;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  vertical-align: middle;
}

#menu_id:checked ~ #menu_label_id {
  visibility: hidden;
}

#menu_id:not(:checked) ~ #menu_label_id {
  visibility: visible;
  color: rgb(24, 223, 24);
}

#menu_label_close_id {
  margin: auto;
  min-height: 64px;
  min-width: 96px;
  max-height: 64px;
  max-width: 96px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  background: #010611;
  cursor: pointer;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  vertical-align: middle;
}

#menu_id:checked ~ #menu_label_close_id {
  visibility: visible;
  color: rgb(243, 24, 24);
}

#menu_id:not(:checked) ~ #menu_label_close_id {
  visibility: hidden;
}

#nav_top,
#nav_bottom {
  min-height: 64px;
  max-height: 64px;
  visibility: inherit;
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
  background-color: rgb(5, 5, 15);
  transition: 1.5s;
}

#nav_top nav {
  min-height: inherit;
  max-height: inherit;
  visibility: inherit;
  display: none;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 5, 15);
}

#nav_top nav ul {
  min-height: inherit;
  max-height: inherit;
  padding: 0;
  margin: 0;
  visibility: inherit;
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: transparent;
}

#nav_top nav ul li {
  min-height: inherit;
  visibility: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  background: transparent;
}

#nav_top nav ul li:nth-child(even) {
  max-width: 100px;
}

#nav_top nav ul li div {
  visibility: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: none;
  stroke: none;
  overflow: hidden;
}

#nav_top nav ul li:nth-child(1) div {
  background-color: #010611;
}

#nav_top nav ul li:nth-child(2) div {
  background-color: #010611;
}

#nav_top nav ul li:nth-child(3) div {
  background-color: #010611;
}

.neon {
  position: absolute;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.795);
  text-shadow: 0 0 25px #09ff00;
  font-stretch: extra-expanded;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  filter: blur(0.25px);
}

.box {
  height: 64px;
  width: 400px;
  background-color: inherit;
  animation: box_anim 3s infinite alternate-reverse;
}

@keyframes box_anim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(400px);
  }
}

.bar {
  height: 48px;
  width: 7px;
  position: absolute;
  background: #09ff00;
  animation: bar_anim 3s infinite alternate-reverse;
}

@keyframes bar_anim {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(200px);
  }
}

#nav_bottom nav {
  min-height: inherit;
  max-height: inherit;
  visibility: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  background: rgb(5, 5, 15);
}

#nav_bottom nav ul {
  min-height: inherit;
  max-height: inherit;
  padding: 0;
  margin: 0;
  visibility: inherit;
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style-type: none;
  background: transparent;
}

#nav_bottom nav ul li {
  min-height: inherit;
  visibility: inherit;
  display: none;
  flex-direction: inherit;
  flex-grow: 1;
  background: transparent;
}

#nav_bottom nav ul li:nth-child(1) {
  display: inherit;
}

#nav_bottom nav ul li:nth-child(8) {
  display: inherit;
}

#nav_bottom nav ul li:nth-child(1) div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  visibility: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: none;
  stroke: none;
  position: relative;
}

#nav_bottom nav ul li:nth-child(1) div form {
  visibility: inherit;
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: none;
  stroke: none;
}

#nav_bottom nav ul li:nth-child(n + 2) form {
  min-height: inherit;
  visibility: inherit;
  display: flex;
  flex-direction: inherit;
  flex-grow: 1;
  background: transparent;
}

#nav_bottom nav ul li:nth-child(n) form button {
  visibility: inherit;
  display: inherit;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: none;
  stroke: none;
  position: relative;
  cursor: pointer;
}

#nav_bottom nav ul li:nth-child(n) form button:focus {
  outline: none;
}

#nav_bottom nav ul li:nth-child(2) form button {
  background: transparent;
  color: rgb(190, 187, 187);
  pointer-events: all;
}

#nav_bottom nav ul li:nth-child(3) form button {
  background: transparent;
  color: rgb(190, 187, 187);
}

#nav_bottom nav ul li:nth-child(4) form button {
  background: transparent;
  color: rgb(190, 187, 187);
}

#nav_bottom nav ul li:nth-child(5) form button {
  background: transparent;
  color: rgb(190, 187, 187);
}

#nav_bottom nav ul li:nth-child(6) form button {
  background: transparent;
  color: rgb(190, 187, 187);
}

#nav_bottom nav ul li:nth-child(7) form button {
  background: transparent;
  color: rgb(190, 187, 187);
}

#nav_bottom nav ul li:nth-child(2) form button:hover {
  color: white;
  font-weight: bold;
}

#nav_bottom nav ul li:nth-child(3) form button:hover {
  color: white;
  font-weight: bold;
}

#nav_bottom nav ul li:nth-child(4) form button:hover {
  color: white;
  font-weight: bold;
}

#nav_bottom nav ul li:nth-child(5) form button:hover {
  color: white;
  font-weight: bold;
}

#nav_bottom nav ul li:nth-child(6) form button:hover {
  color: white;
  font-weight: bold;
}

#nav_bottom nav ul li:nth-child(7) form button:hover {
  color: white;
  font-weight: bold;
}

.liquid {
  position: absolute;
  transition: 2s;
}

.bothwayX {
  min-height: 4px;
  right: 50%;
  left: 50%;
  top: 0;
  background: rgb(255, 255, 255);
}

.bothwayY {
  min-width: 4px;
  top: 50%;
  bottom: 50%;
  left: 0;
  background: rgb(255, 255, 255);
}

#nav_bottom nav ul li:nth-child(1) div:hover .bothwayX {
  right: 0;
  left: 0;
}

#nav_bottom nav ul li:nth-child(n) form button:hover .bothwayX {
  right: 0;
  left: 0;
}

#nav_bottom nav ul li:nth-child(n) form button:focus .bothwayX {
  right: 0;
  left: 0;
  background: #09ff00;
}

.drop_up {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: inline-block;
}

.drop_up:hover .more_options {
  background: white;
  color: #030e27;
}

.more_options {
  min-width: 100%;
  min-height: 100%;
  background: rgb(5, 5, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.more_content {
  min-width: 224px;
  bottom: 60px;
  right: 0px;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
}

.more_content div {
  min-width: 100%;
  min-height: 48px;
  max-height: 48px;
  display: none;
}

.more_content div button {
  min-width: 100%;
  min-height: 48px;
  max-height: 48px;
  color: #010611;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.815);
  transition: 1.25s;
}

.more_content div button:hover {
  background: rgba(162, 164, 165, 0.774);
}

.more_content div button:hover .bothwayY {
  top: 0;
  bottom: 0;
  background: #09ff00;
  transition: 1s;
}

.more_content div button:focus {
  background: rgba(37, 37, 39, 0.918);
  color: white;
  font-weight: bold;
}

.more_content div button:focus .bothwayY {
  top: 0;
  bottom: 0;
  background: #09ff00;
  transition: 1s;
}

.more_content div button:active {
  background: rgba(37, 37, 39, 0.918);
}

.drop_up:hover .more_content {
  display: flex;
  flex-direction: column;
}

#main_view {
  max-height: calc(var(--max-height) - 128px);
  display: flex;
  flex-direction: inherit;
  flex-grow: 1;
  visibility: inherit;
  background: rgb(20, 20, 20);
  overflow-y: scroll;
  overflow-x: hidden;
}

#tab {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 36px;
  max-height: 36px;
  background: rgb(24, 29, 49);
  color: yellow;
  align-items: center;
  justify-content: center;
}

#content_container {
  display: flex;
  flex-direction: inherit;
  flex-grow: 1;
  background: rgb(20, 20, 20);
}

.input {
  min-width: 65%;
  min-height: 35px;
  color: white;
  margin: 0px;
  outline: none;
  padding-left: 15px;
  border: 1px solid rgba(185, 181, 181, 0.719);
  border-radius: 5px;
  transition: 0.75s;
  background: transparent;
}

.input:focus {
  min-width: 80%;
  border: 1px solid white;
  box-shadow: 0 0 7px white;
}

.raw:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid rgb(247, 12, 12);
  border-radius: 5px;
  color: rgb(247, 12, 12);
}

.raw:not(:focus):valid {
  border: 1px solid rgb(28, 241, 8);
  border-radius: 5px;
  color: rgb(28, 241, 8);
}

.raw:focus:valid {
  box-shadow: 0 0 7px rgb(28, 241, 8);
  border: 1px solid rgb(28, 241, 8);
  border-radius: 5px;
  color: rgb(28, 241, 8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.raw:focus:invalid {
  box-shadow: 0 0 7px rgb(247, 12, 12);
  border: 1px solid rgb(247, 12, 12);
  border-radius: 5px;
  color: rgb(247, 12, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search_btn {
  color: #010611;
  background: white;
}

.search_btn:hover {
  height: 30px;
  color: #010611;
  background: white;
}

@media screen and (min-height: 500px) {
  #view_layout {
    min-height: 100vh;
  }
  #top_banner,
  #bottom_banner {
    --banner-flag: 50px;
  }
}

@media screen and (min-height: 700px) {
  #view_layout {
    min-height: 100vh;
  }
  #top_banner,
  #bottom_banner {
    --banner-flag: 75px;
  }
}

@media screen and (min-height: 1024px) {
  #view_layout {
    min-height: 100vh;
  }
  #top_banner,
  #bottom_banner {
    --banner-flag: 90px;
  }
}

@media screen and (min-height: 1280px) {
  #view_layout {
    min-height: 100vh;
  }
  #top_banner,
  #bottom_banner {
    --banner-flag: 120px;
  }
}

@media screen and (max-width: 500px) {
  .more_content div {
    display: inherit;
  }
}

@media screen and (min-width: 500px) {
  #left_drawer,
  #right_drawer {
    max-width: 160px;
  }

  #menu_id:checked ~ #middle_panel {
    --drawer-width: 160px;
    max-width: calc(var(--max-width) - (var(--drawer-width) * 2));
  }

  #nav_top nav {
    display: none;
  }

  .more_content div:nth-child(1) {
    display: inherit;
  }
  .more_content div:nth-child(2) {
    display: inherit;
  }
  .more_content div:nth-child(3) {
    display: inherit;
  }
  .more_content div:nth-child(4) {
    display: inherit;
  }
  .more_content div:nth-child(5) {
    display: inherit;
  }
  .more_content div:nth-child(6) {
    display: inherit;
  }
}

@media screen and (min-width: 700px) {
  #left_drawer,
  #right_drawer {
    max-width: 192px;
  }

  #menu_id:checked ~ #middle_panel {
    --drawer-width: 192px;
    max-width: calc(var(--max-width) - (var(--drawer-width) * 2));
  }

  #nav_top nav {
    display: none;
  }

  #nav_bottom nav ul li:nth-child(2) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(3) {
    display: inherit;
  }

  .more_content div:nth-child(1) {
    display: none;
  }
  .more_content div:nth-child(2) {
    display: none;
  }
  .more_content div:nth-child(3) {
    display: inherit;
  }
  .more_content div:nth-child(4) {
    display: inherit;
  }
  .more_content div:nth-child(5) {
    display: inherit;
  }
  .more_content div:nth-child(6) {
    display: inherit;
  }
}

@media screen and (min-width: 1024px) {
  #left_drawer,
  #right_drawer {
    max-width: 256px;
  }

  #menu_id:checked ~ #middle_panel {
    --drawer-width: 256px;
    max-width: calc(var(--max-width) - (var(--drawer-width) * 2));
  }

  #nav_top nav {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(2) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(3) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(4) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(5) {
    display: inherit;
  }

  .more_content div:nth-child(1) {
    display: none;
  }
  .more_content div:nth-child(2) {
    display: none;
  }
  .more_content div:nth-child(3) {
    display: none;
  }
  .more_content div:nth-child(4) {
    display: none;
  }
  .more_content div:nth-child(5) {
    display: inherit;
  }
  .more_content div:nth-child(6) {
    display: inherit;
  }
}

@media screen and (min-width: 1280px) {
  #left_drawer,
  #right_drawer {
    max-width: 288px;
  }

  #menu_id:checked ~ #middle_panel {
    --drawer-width: 288px;
    max-width: calc(var(--max-width) - (var(--drawer-width) * 2));
  }

  #nav_top nav {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(2) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(3) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(4) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(5) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(6) {
    display: inherit;
  }

  #nav_bottom nav ul li:nth-child(7) {
    display: inherit;
  }

  .more_content div:nth-child(1) {
    display: none;
  }
  .more_content div:nth-child(2) {
    display: none;
  }
  .more_content div:nth-child(3) {
    display: none;
  }
  .more_content div:nth-child(4) {
    display: none;
  }
  .more_content div:nth-child(5) {
    display: none;
  }
  .more_content div:nth-child(6) {
    display: none;
  }
}
